body{
    background-color:orange;
}
h1{
    font-color: #010101;
    font-family:Calibri;
}
label{
    color:white;
    font-size:130%;
    font-family:Calibri;

}
input {
    margin-bottom:1%;
}
.button{
    margin:auto;
    font-size:110%;
    font-family:Calibri; 
    background-color: green;
    color:white;
    margin-top:5%;
}
a{
    font-size:105%;
}
.box1{
    float:left;
    margin-bottom:0.5%;
    width:12%;
    height:60%;
}
.box2{
    float:left;
    margin-bottom:0.5%;
    width:88%;
    height:60%;
}